<!DOCTYPE html>
<html lang="en">
  <head>
	<script type="text/javascript" src="{{url_for('static', filename='sha512.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='input_validation.js')}}"></script>
    <!-- This part is made to make the website mobile friendly -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
-
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>
      Security Blog
    </title>
  </head>
  <body background="/static/background.jpg">
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	  <a class="navbar-brand" href="{{ url_for('home') }}">Security Blog</a>
	  <ul class="navbar-nav mr-auto">
		<li class="nav-item">
		  <button onclick="location.href='{{ url_for('home') }}';" type="button" class="btn btn-primary">Home</button>
		</li>
	  </ul>
	  <ul class="navbar-nav ml-auto">
		<li class="nav-item">
		  <form action="{{ url_for('logout') }}" method="post">
			<input class="btn btn-primary" type="submit" value="Logout">
			<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
		  </form>
		</li>
	  </ul>
	</nav>
    <div class="container">
	  <div class="jumbotron vertical-center">
        <div align="center">
		  <h1 align="center"> Home Page editted successfully!!</h1>
          <a href="{{ url_for('home') }}">Go to Home</a>
	    </div>
      </div>   
    </div>
  </body>
</html>
