<!DOCTYPE html>
<html lang="en">
  <head>
	<script type="text/javascript" src="{{url_for('static', filename='sha512.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='input_validation.js')}}"></script>
    <!-- This part is made to make the website mobile friendly -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
-
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>
      Security Blog
    </title>
  </head>
  <body background="/static/background.jpg">
    <div class="container">
	  <div class="jumbotron vertical-center">
        <div align="center">
		  <h1 align="center"> Oops! Something went wrong.. </h1>
          <p align = "center"> We really apologize for this. Please <a href="http://192.168.0.16:5000/">login</a> and try again</p>
	    </div>
      </div>   
    </div>
  </body>
</html>
