<!DOCTYPE html>
<html lang="en">
  <head>
	<script type="text/javascript" src="{{url_for('static', filename='sha512.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='input_validation.js')}}"></script>
    <!-- This part is made to make the website mobile friendly -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
-
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>
      Security Blog
    </title>
  </head>
  <body background="/static/background.jpg">
    <div class="container">
      <h1 align="center"> Forgot password? </h1>
      <div class="jumbotron vertical-center">
		  <div align="center">
			  {% if message %}
			    <p style="color:red;">{{ message }}</p>
			  {% endif %}
			  <h5 align = "center">Please enter your email address and we will send you the recovery password</h5>
			  <form onsubmit= "return input_sanitization()" action="https://192.168.0.16:5000/send_recovery_password" method="post">
				Email Address:<br>
				<input class = "validate_email" type="email" name="forgot_email">
				<input type="hidden" name="CSRFToken" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJUaGlzIGlzIGEgSldUIHRva2VuIGZvciBmb3Jnb3QgcGFzc3dvcmQgcGFnZSJ9.knfJw7Z0W9LI750IERY94jHgOYhsiE1kBR2rIWn8RYE">
		  </div>
	  </div>
	</div>
  </body>
</html>
