<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- This part is made to make the website mobile friendly -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>
      Security Blog
    </title>
  </head>
  <body background="/static/background.jpg">
    <div class="container">
      <h1 align="center"> Log In </h1>
      <div class="jumbotron vertical-center">
        <div align="center">
		  {% if message %}
			<p style="color:red;">{{ message }}</p>
		  {% endif %}
          <form action="http://192.168.0.47:5000/login" method="post">
            Email Address:<br>
            <input class = "validate_email" type="email" name="email">
            <br>
            Password:<br>
            <input class = "validate_input" type='password' name="password">
            <br><br>
            <p>{{ recaptcha }}</p>
            <input type="submit" name="login submit" value="Log In">
            <input type="hidden" name="CSRFToken" value="">
          </form>
        </div>
      </div>
      <div class = "jumbotron vertical-center">
		<div align="center">
			<h3>Do you not have an account with us?</h3>
			<h3>If you want to learn more about security concepts, please register with us!</h3>
			<button onclick="location.href='http://192.168.0.47:5000/registration';" type="button" class="btn btn-primary">Register here</button>
		</div>
      </div>
    </div>

  </body>
